.parent {
  margin: 20px;
}

#barOuter {
  width: 200px;        
  height: 10px;
  background-color: pink;
  position: relative;
}

#barInner {
  height: 10px;
  background-color: blue;
  position: absolute;
 
}
