
.parent{
    position:relative;
    margin-left: 50px;
    margin-top: 100px;
    height: 150px;
    width: 200px;
}
#barInner{
    height:10px;
  width: 100%;
  background-color:orange ;
position:absolute;

}
#barOuter{
    height:10px;
  background-color:blue ;
position:absolute;

}